<div fxLayout="column" fxLayoutAlign="start stretch">
  <div fxLayout="row" fxLayoutAlign="end start">
    <form [formGroup]="searchForm">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input type="text" matInput>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>

    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef> Fecha De Nacimiento </th>
      <td mat-cell *matCellDef="let element"> {{element.birthDate | date: 'dd / MM / yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="targetCalories">
      <th mat-header-cell *matHeaderCellDef> Calorías Meta </th>
      <td mat-cell *matCellDef="let element"> {{element.targetCalories}} </td>
    </ng-container>

    <ng-container matColumnDef="basalMetabolism">
      <th mat-header-cell *matHeaderCellDef> Metabolismo Basal </th>
      <td mat-cell *matCellDef="let element"> {{element.basalMetabolism}} </td>
    </ng-container>

    <ng-container matColumnDef="estimatedDailyEnergyExpenditure">
      <th mat-header-cell *matHeaderCellDef> Gasto Caloríco Estimado </th>
      <td mat-cell *matCellDef="let element"> {{element.estimatedDailyEnergyExpenditure}} </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef>Opciones</th>
      <td mat-cell *matCellDef="let element">
        <div fxLayout="row" fxLayoutGap="10px">
          <a [routerLink]="[ '.', element.patientId ]"><mat-icon color='primary'>visibility</mat-icon></a>
          <mat-icon color='primary'>edit</mat-icon>
          <mat-icon color='primary'>delete</mat-icon>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>