<div>
  <span class="mat-title">Añadir Paciente</span>

  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Paciente</mat-label>
      <input type="text"
            placeholder="Seleccione uno..."
            aria-label="Paciente"
            matInput
            formControlName="patient"
            [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="showPatient.bind(this)">
        <mat-option *ngFor="let patient of filteredPatients" [value]="patient">
          {{patient.name}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="form.controls.patient.touched || form.controls.patient.invalid">
        <span *ngIf="form.controls.patient.errors?.required">El campo es obligatorio.</span>
        <span *ngIf="form.controls.patient.errors?.pattern">El campo es inválido.</span>
      </mat-error>
    </mat-form-field>
  </form>

  <button mat-raised-button color="primary" (click)="addPatient()">Añadir</button>
</div>