.protein-color {
  background-color: skyblue;
}

.carbohydrate-color {
  background-color: greenyellow;
}

.fat-color {
  background-color: rgb(155, 154, 154);
}

.footer {
  padding: 20px;
  bottom: 0;
  right: 0;
  width: 100%;
  position: fixed;
  background-color: #aabe81 !important;
}

.create-diet {
  padding-bottom: 60px;
}