<div class="create-diet" fxLayout="column" fxLayoutGap="30px">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner *ngIf="(dietsLoading$ | async) === true || (patientsLoading$ | async) === true"></mat-spinner>
  </div>
  <div fxLayout="column" *ngIf="(dietsLoading$ | async) === false && (patientsLoading$ | async) === false">
    <div fxLayoutAlign="space-between start">
      <span class="mat-title">Pacientes Asignados</span>
      <button *ngIf="patients$.value.length === 0" mat-raised-button color="primary" (click)="addPatient()">Añadir Paciente</button>
    </div>
    <mat-expansion-panel expanded>
      <div *ngIf="patients$.value.length === 0" style="padding-top: 20px;">
        <span class="mat-subheading-2">No existen pacientes asignados a esta dieta.</span>
      </div>
      <mat-list>
        <mat-list-item *ngFor="let pacient of patients$ | async; let i = index;">
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
            <span>
              <mat-icon color='primary' style="cursor: pointer;" (click)="deletePatient(pacient, i)">delete</mat-icon>
            </span>
            <span>
              {{pacient.name}} {{pacient.lastname}}
            </span>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </div>
  <div fxLayout="column" *ngIf="(dietsLoading$ | async) === false && (patientsLoading$ | async) === false">
    <div fxLayoutAlign="space-between start">
      <span class="mat-title">Secciones de Alimentos</span>
      <button mat-raised-button color="primary" (click)="addSection()">Añadir Sección de Alimentos</button>
    </div>
    <div>
      <mat-accordion multi>
        <mat-expansion-panel expanded *ngFor="let section of sections; let sectionIndex = index">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="mat-title">{{section.name}}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngIf="section.foods.length === 0" style="padding-top: 20px;">
            <span class="mat-subheading-2">No existen alimentos asignados a esta sección.</span>
          </div>
          <div fxLayout="column" fxLayoutAlign="start stretch" *ngIf="section.foods.length > 0">
            <table mat-table [dataSource]="section.foods" class="mat-elevation-z8">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.food.name}} </td>
              </ng-container>
          
              <ng-container matColumnDef="servingSize">
                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                <td mat-cell *matCellDef="let element"> {{element.servingSize}} </td>
              </ng-container>

              <ng-container matColumnDef="protein">
                <th mat-header-cell *matHeaderCellDef> Proteína </th>
                <td mat-cell *matCellDef="let element"> {{element.protein | number: '1.2-2'}} </td>
              </ng-container>
          
              <ng-container matColumnDef="carbohydrate">
                <th mat-header-cell *matHeaderCellDef> Carbohidrato </th>
                <td mat-cell *matCellDef="let element"> {{element.carbohydrate | number: '1.2-2'}} </td>
              </ng-container>
          
              <ng-container matColumnDef="fat">
                <th mat-header-cell *matHeaderCellDef> Grasa </th>
                <td mat-cell *matCellDef="let element"> {{element.fat | number: '1.2-2'}} </td>
              </ng-container>
          
              <ng-container matColumnDef="fiber">
                <th mat-header-cell *matHeaderCellDef> Fibra </th>
                <td mat-cell *matCellDef="let element"> {{element.fiber | number: '1.2-2'}} </td>
              </ng-container>
          
              <ng-container matColumnDef="calories">
                <th mat-header-cell *matHeaderCellDef> Calorías </th>
                <td mat-cell *matCellDef="let element"> {{element.calories | number: '1.2-2'}} </td>
              </ng-container>
          
              <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef>Opciones</th>
                <td mat-cell *matCellDef="let element; let foodIndex = index;">
                  <div fxLayout="row" fxLayoutGap="10px">
                    <mat-icon color="primary" style="cursor: pointer;" (click)="deleteFoodFromSection(sectionIndex, foodIndex)">delete</mat-icon>
                  </div>
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [class.protein-color]="row.food.type==='protein'"
                [class.carbohydrate-color]="row.food.type==='carbohydrate'"
                [class.fat-color]="row.food.type==='fat'"
                [class.vegetable-color]="row.food.type==='vegetable'"></tr>
            </table>
          </div>
          <mat-action-row>
            <button mat-raised-button color="primary" (click)="addFoodToSection(sectionIndex)">Agregar Alimento</button>
            <button mat-raised-button color="primary" (click)="addFoodsByType(sectionIndex)">Agregar Alimentos Por Tipo</button>
            <button mat-raised-button color="warn" (click)="deleteSection(sectionIndex)">Eliminar Sección</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div fxLayout="column" *ngIf="(dietsLoading$ | async) === false && (patientsLoading$ | async) === false">
    <div fxLayoutAlign="space-between start">
      <span class="mat-title">Notas y Recomendaciones</span>
    </div>
    <div>
      <mat-accordion multi>
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header></mat-expansion-panel-header>
          <div>
            <form class="notes-form" [formGroup]="notesFormGroup" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <div>
                <mat-form-field appearance="fill">
                  <input matInput placeholder="Nueva nota..." formControlName="note">
                </mat-form-field>
                <mat-error *ngIf="notesFormGroup.controls.note.touched && notesFormGroup.controls.note.invalid">
                  <span *ngIf="notesFormGroup.controls.note.errors?.required">El campo es obligatorio.</span>
                </mat-error>
              </div>
              <button mat-raised-button color="primary" type="submit" (click)="addDietNote()">Añadir</button>
            </form>
          </div>
          <div *ngIf="notes?.length === 0" style="padding-top: 20px;">
            <span class="mat-subheading-2">No existen notas o recomendaciones para esta dieta.</span>
          </div>
          <div fxLayout="column" fxLayoutAlign="start stretch" *ngIf="notes?.length > 0">
            <mat-list>
              <mat-list-item *ngFor="let note of notes; let noteIndex = index"> 
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                  <mat-icon color="warn" style="cursor: pointer;" (click)="deleteNote(noteIndex)">delete</mat-icon>
                  <span>{{note.note}}</span>
                </div>
              </mat-list-item>
            </mat-list>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div class="footer" fxLayout="column" *ngIf="(dietsLoading$ | async) === false && (patientsLoading$ | async) === false">
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
      <div *ngIf="showError" class="mat-warn">Tiene que agregar al menos un paciente y una sección.</div>

      <a mat-raised-button color="basic" [routerLink]="[ '../' ]">Cancelar</a>
      <button *ngIf="!isEdit" mat-raised-button color="primary" (click)="createDiet()">Guardar</button>
      <button *ngIf="isEdit" mat-raised-button color="primary" (click)="updateDiet()">Actualizar</button>
      <button *ngIf="isEdit" mat-raised-button color="primary" (click)="printDiet()">Imprimir</button>
    </div>
  </div>
</div>
