.protein-color {
  background-color: #B3CEFB;
}

.carbohydrate-color {
  background-color: #B5E3E8;
}

.fat-color {
  background-color: #BFBFBF;
}

.vegetable-color {
  background-color: #F7B4AE
}

.footer {
  padding: 20px;
  bottom: 0;
  right: 0;
  width: 100%;
  position: fixed;
  background-color: lightgray;
}

.create-diet {
  padding-bottom: 60px;
}