<div fxLayout="column" fxLayoutAlign="start stretch">
  <div fxLayout="row" fxLayoutAlign="start start">
    <form [formGroup]="searchForm">
      <mat-form-field>
        <mat-label>Buscar dieta...</mat-label>
        <input type="text" matInput>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
  </div>
  <table mat-table [dataSource]="diets$" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="patientsCount">
      <th mat-header-cell *matHeaderCellDef> Pacientes Asignados </th>
      <td mat-cell *matCellDef="let element"> {{element.patientsCount}} </td>
    </ng-container>

    <ng-container matColumnDef="sectionsCount">
      <th mat-header-cell *matHeaderCellDef> Secciones </th>
      <td mat-cell *matCellDef="let element"> {{element.sectionsCount}} </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef>Opciones</th>
      <td mat-cell *matCellDef="let element">
        <div fxLayout="row" fxLayoutGap="10px">
          <mat-icon color="primary">visibility</mat-icon>
          <mat-icon color="primary">edit</mat-icon>
          <mat-icon color="primary">delete</mat-icon>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>