<span class="mat-title">Añadir Alimento</span>

<form fxLayout="column" fxLayoutAlign="start start" [formGroup]="form" (ngSubmit)="addFood()">
  <mat-form-field>
    <mat-label>Alimento</mat-label>
    <input type="text"
           placeholder="Seleccione uno..."
           aria-label="Alimento"
           matInput
           formControlName="food"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="showFood.bind(this)">
      <mat-option *ngFor="let food of filteredFoods" [value]="food">
        {{food.name}}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="form.controls.food.touched || form.controls.food.invalid">
      <span *ngIf="form.controls.food.errors?.required">El campo es obligatorio.</span>
      <span *ngIf="form.controls.food.errors?.pattern">El campo es inválido.</span>
    </mat-error>
  </mat-form-field>
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Cantidad </mat-label>
      <input matInput formControlName="servingSize">
      <span matSuffix>grs</span>
      <mat-error *ngIf="form.controls.servingSize.touched || form.controls.servingSize.invalid">
        <span *ngIf="form.controls.servingSize.errors?.required">El campo es obligatorio.</span>
        <span *ngIf="form.controls.servingSize.errors?.pattern">El campo es inválido.</span>
      </mat-error>
    </mat-form-field>
    <mat-icon>compare_arrows</mat-icon>
    <mat-form-field class="form-field" appearance="outline" [formGroup]="form2">
      <mat-label> Calorias </mat-label>
      <input matInput formControlName='servingSizeInCalories'>
      <span matSuffix>kcal</span>
      <mat-error *ngIf="form2.controls.servingSizeInCalories.touched || form2.controls.servingSizeInCalories.invalid">
        <span *ngIf="form2.controls.servingSizeInCalories.errors?.required">El campo es obligatorio.</span>
        <span *ngIf="form2.controls.servingSizeInCalories.errors?.pattern">El campo es inválido.</span>
      </mat-error>
    </mat-form-field>
  </div>

  <button type="submit" mat-raised-button color="primary">Añadir</button>
</form>
