<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-elevation-z7">
    <a mat-button routerLink="/" aria-label="Lola Modo On">
      <img class="lola-navbar-logo"
            src="../../../assets/images/lola-logo.jpeg"
            alt="logo">
      <span class="mat-h1">Lola Modo On</span>
    </a>

    <div *ngIf="displayMenus">
    <a mat-button
      *ngFor="let key of sectionKeys"
      [routerLink]="key">{{sections[key].name}}</a>
    
    <a mat-button
      (click)="onLogoutClick()">Salir</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
