<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Pacientes</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item>
        <span>Lista de Pacientes</span>
        <mat-icon mat-list-icon>format_list_bulleted</mat-icon>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list>
      <mat-list-item>
        <span>Nuevo Paciente</span>
        <mat-icon mat-list-icon>person_add</mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
