<ng-template #formInput let-input="input" let-group="group">
  <mat-form-field class="form-field" appearance="outline" [formGroup]="group">
    <mat-label> {{input.label}} </mat-label>
    <input [type]="input.type ? input.type : 'text'" matInput [formControlName]="input.name">
    <span *ngIf="input.suffix" matSuffix>{{ input.suffix }}</span>
    <mat-error *ngIf="group.get(input.name).touched || group.get(input.name).invalid">
      <span *ngIf="group.get(input.name).errors?.required">El campo es obligatorio.</span>
      <span *ngIf="group.get(input.name).errors?.pattern">El campo es inválido.</span>
    </mat-error>
  </mat-form-field>
</ng-template>

<ng-template #formSelect let-input="input" let-group="group">
  <div [formGroup]="group">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label> {{input.label}} </mat-label>
      <mat-select [formControlName]="input.name">
        <mat-option *ngFor="let option of input.options" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="group.get(input.name).touched || group.get(input.name).invalid">
        <span *ngIf="group.get(input.name).errors?.required">El campo es obligatorio.</span>
        <span *ngIf="group.get(input.name).errors?.pattern">El campo es inválido.</span>
      </mat-error>
    </mat-form-field>  
  </div>
</ng-template>

<div fxLayout="column" fxLayoutAlign="start center">
  <div fxLayout="row">
    <mat-spinner *ngIf="(loading$ | async) === true"></mat-spinner>
  </div>
  <form *ngIf="(loading$ | async) === false" 
    fxLayout="column" fxLayoutGap="10px"
    [formGroup]="createPatientForm2">
    
    <div fxLayout="row" fxLayoutGap="10px">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Datos Iniciales
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column">
          <ng-container *ngTemplateOutlet="formInput; context: {input: {name: 'name', label: 'Nombre'}, group: createPatientForm2}"></ng-container>
          <ng-container *ngTemplateOutlet="formInput; context: {input: {name: 'pathology', label: 'Patología'}, group: createPatientForm2}"></ng-container>
          <ng-container *ngTemplateOutlet="formInput; context: {input: {name: 'age', label: 'Edad', suffix: 'Años', type: 'number'}, group: createPatientForm2}"></ng-container>
          <ng-container *ngTemplateOutlet="formSelect; context: {input: {name: 'gender', label: 'Sexo', options: genderOptions}, group: createPatientForm2}"></ng-container>
          <div fxLayout="row" fxLayoutGap="10px" class="shared-fields">
            <ng-container *ngTemplateOutlet="formInput; context: {input: {name: 'weight', label: 'Peso', suffix: 'Kgs', type: 'number'}, group: createPatientForm2}"></ng-container>
            <ng-container *ngTemplateOutlet="formInput; context: {input: {name: 'height', label: 'Altura', suffix: 'cm', type: 'number'}, group: createPatientForm2}"></ng-container>
          </div>
          <ng-container *ngTemplateOutlet="formSelect; context: {input: {name: 'activityLevel', label: 'Nivel de Actividad', options: activityLevelOptions}, group: createPatientForm2}"></ng-container>
          <div *ngIf="createPatientForm2.get('activityLevel').value === 0">
            <ng-container *ngTemplateOutlet="formSelect; context: {input: {name: 'activityLevelMeasure', label: 'Valor en Nivel de Actividad', options: activityLevelMeasure[0]}, group: createPatientForm2}"></ng-container>
          </div>
          <div *ngIf="createPatientForm2.get('activityLevel').value === 1">
            <ng-container *ngTemplateOutlet="formSelect; context: {input: {name: 'activityLevelMeasure', label: 'Valor en Nivel de Actividad', options: activityLevelMeasure[1]}, group: createPatientForm2}"></ng-container>
          </div>
          <div *ngIf="createPatientForm2.get('activityLevel').value === 2">
            <ng-container *ngTemplateOutlet="formSelect; context: {input: {name: 'activityLevelMeasure', label: 'Valor en Nivel de Actividad', options: activityLevelMeasure[2]}, group: createPatientForm2}"></ng-container>
          </div>
          <div *ngIf="createPatientForm2.get('activityLevel').value === 3">
            <ng-container *ngTemplateOutlet="formSelect; context: {input: {name: 'activityLevelMeasure', label: 'Valor en Nivel de Actividad', options: activityLevelMeasure[3]}, group: createPatientForm2}"></ng-container>
          </div>

        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Balance Energético
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column">
          <ng-container *ngTemplateOutlet="formSelect; context: {input: {name: 'corporalFatPercentage', label: '% Grasas Corporal', options: corporalFatPercentageOptions}, group: createPatientForm2}"></ng-container>
          <ng-container *ngTemplateOutlet="formSelect; context: {input: {name: 'dietGoal', label: 'Objetivo', options: dietGoalOptions}, group: createPatientForm2}"></ng-container>
          <div *ngIf="createPatientForm2.get('dietGoal').value === 'muscle-gain'">
            <ng-container *ngTemplateOutlet="formSelect; context: {input: {name: 'dietGoalPace', label: 'Ritmo', options: muscleGainDietGoalPaceOptions}, group: createPatientForm2}"></ng-container>
          </div>
          <div *ngIf="createPatientForm2.get('dietGoal').value === 'fat-loss'">
            <ng-container *ngTemplateOutlet="formSelect; context: {input: {name: 'dietGoalPace', label: 'Ritmo', options: fatLossDietGoalPaceOptions}, group: createPatientForm2}"></ng-container>
          </div>
          <!-- <div *ngIf="createPatientForm2.get('dietGoal').value === 'fat-loss'">
            <ng-container *ngTemplateOutlet="formInput; context: {input: {name: 'refeedsPerWeek', label: 'Refeeds Por Semana'}, group: createPatientForm2}"></ng-container>
          </div> -->
        </mat-card-content>
      </mat-card>


      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Macros
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column">
          <ng-container *ngTemplateOutlet="formInput; context: {input: {name: 'proteinAmount', label: 'Proteína', suffix: 'g/kg'}, group: createPatientForm2}"></ng-container>
          <ng-container *ngTemplateOutlet="formInput; context: {input: {name: 'fatPercentage', label: 'Grasas', suffix: '%'}, group: createPatientForm2}"></ng-container>
          <h3><b>Macronutrientes en base a objetivos</b></h3>
          <table>
            <tbody>
              <tr>
                <td>Grasas</td>
                <td>{{macrosFatLow}} - {{macrosFatTop}}g</td>
              </tr>
              <tr>
                <td>Carbohidratos</td>
                <td>{{macrosCarbsLow}} - {{macrosCarbsTop}}g</td>
              </tr>
              <tr>
                <td>Proteína</td>
                <td>{{macrosProteinLow}} - {{macrosProteinTop}}g</td>
              </tr>
              <tr>
                <td>Fibra</td>
                <td>{{macrosFiberLow}} - {{macrosFiberTop}}g</td>
              </tr>
            </tbody>
          </table>

          <div style="display: block; margin-top: 20px;">
            <canvas baseChart 
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"
              [options]="doughnutChartOptions"
              [plugins]="doughnutChartPlugins">
            </canvas>
          </div>          
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Resultados
          </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column">
          <h3><b>Calorías de Mantenimiento</b></h3>
          <p>{{maintenanceCalories | number:'1.0-0'}}<span> Kcals</span></p>
  
          <h3><b>Metabolismo Basal</b></h3>
          <p>{{basalMetabolicRate | number:'1.0-0'}}<span> Calorías/Día</span></p>

          <h3>
            <b><span *ngIf="createPatientForm2.get('dietGoal').value === 'fat-loss'">
              Calorías Objetivo en Déficit
            </span>
            <span *ngIf="createPatientForm2.get('dietGoal').value === 'muscle-gain'">
              Calorías Objetivo
            </span></b>
          </h3>
          <p>{{targetCalories | number:'1.0-0'}}<span> Kcals</span></p>

          <!-- <div *ngIf="createPatientForm2.get('dietGoal').value === 'fat-loss'">
            <h2>
                Calorías Objetivo en Dias de Refeed
            </h2>
            <p>{{refeedTargetCalories | number:'1.0-0'}}<span> Kcals</span></p>
          </div> -->

          <div *ngIf="createPatientForm2.get('dietGoal').value === 'fat-loss'">
            <h3>
              <b>Déficit Semanal Generado por la Dieta</b>
            </h3>
            <p>{{dietDeficit | number:'1.0-0'}}<span> Kcals</span></p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div *ngIf="(loading$ | async) === false" fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="10px">
      <a mat-raised-button color="basic" [routerLink]="[ '../' ]">Cancelar</a>
      <button *ngIf="!isEdit" mat-raised-button color="primary" (click)="savePatient()">Guardar</button>
      <button *ngIf="isEdit" mat-raised-button color="primary" (click)="updatePatient()">Actualizar</button>
    </div>
  </form>
</div>
