<div fxLayout="row" fxLayoutAlign="center center">
  <form fxLayout="column" [formGroup]="createFoodForm">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Name </mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="createFoodForm.controls.name.touched || createFoodForm.controls.name.invalid">
        <span *ngIf="createFoodForm.controls.name.errors.required">El campo es obligatorio.</span>
        <span *ngIf="createFoodForm.controls.name.errors.pattern">El campo es inválido.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Apellido </mat-label>
      <input matInput formControlName="lastname">
      <mat-error *ngIf="createFoodForm.controls.lastname.touched || createFoodForm.controls.lastname.invalid">
        <span *ngIf="createFoodForm.controls.lastname.errors.required">El campo es obligatorio.</span>
        <span *ngIf="createFoodForm.controls.lastname.errors.pattern">El campo es inválido.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Fecha de Nacimiento </mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="createFoodForm.controls.birthDate.touched || createFoodForm.controls.birthDate.invalid">
        <span *ngIf="createFoodForm.controls.birthDate.errors?.required">El campo es obligatorio.</span>
        <span *ngIf="createFoodForm.controls.birthDate.errors?.pattern">El campo es inválido.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Calorías Meta </mat-label>
      <input matInput formControlName="targetCalories">
      <mat-error *ngIf="createFoodForm.controls.targetCalories.touched || createFoodForm.controls.targetCalories.invalid">
        <span *ngIf="createFoodForm.controls.targetCalories.errors.required">El campo es obligatorio.</span>
        <span *ngIf="createFoodForm.controls.targetCalories.errors.pattern">El campo es inválido.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Metabolismo Basal </mat-label>
      <input matInput formControlName="basalMetabolism">
      <mat-error *ngIf="createFoodForm.controls.basalMetabolism.touched || createFoodForm.controls.basalMetabolism.invalid">
        <span *ngIf="createFoodForm.controls.basalMetabolism.errors.required">El campo es obligatorio.</span>
        <span *ngIf="createFoodForm.controls.basalMetabolism.errors.pattern">El campo es inválido.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Gasto Caloríco Estimado </mat-label>
      <input matInput formControlName="estimatedDailyEnergyExpenditure">
      <mat-error *ngIf="createFoodForm.controls.estimatedDailyEnergyExpenditure.touched || createFoodForm.controls.estimatedDailyEnergyExpenditure.invalid">
        <span *ngIf="createFoodForm.controls.estimatedDailyEnergyExpenditure.errors.required">El campo es obligatorio.</span>
        <span *ngIf="createFoodForm.controls.estimatedDailyEnergyExpenditure.errors.pattern">El campo es inválido.</span>
      </mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-raised-button color="basic" type="submit">Cancelar</button>
      <button mat-raised-button color="primary" type="submit" (click)="submit()">Guardar</button>
    </div>
  </form>
</div>