@import '~@angular/material/theming';

$primary-palette: (
    50 : #ece6ef,
    100 : #d0c0d8,
    200 : #b196be,
    300 : #916ca4,
    400 : #7a4d91,
    500 : #622d7d,
    600 : #5a2875,
    700 : #50226a,
    800 : #461c60,
    900 : #34114d,
    A100 : #c986ff,
    A200 : #b353ff,
    A400 : #9c20ff,
    A700 : #9107ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$secondary-palette:  (
    50 : #f5f7f0,
    100 : #e6ecd9,
    200 : #d5dfc0,
    300 : #c4d2a7,
    400 : #b7c894,
    500 : #aabe81,
    600 : #a3b879,
    700 : #99af6e,
    800 : #90a764,
    900 : #7f9951,
    A100 : #fefffc,
    A200 : #ebffc9,
    A400 : #d8ff96,
    A700 : #cfff7c,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);;

$primary-color: mat-color($primary-palette, 500);
$accent-color: mat-color($secondary-palette, 500);