$primary-palette: (
    50 : #ece6ef,
    100 : #d0c0d8,
    200 : #b196be,
    300 : #916ca4,
    400 : #7a4d91,
    500 : #622d7d,
    600 : #5a2875,
    700 : #50226a,
    800 : #461c60,
    900 : #34114d,
    A100 : #c986ff,
    A200 : #b353ff,
    A400 : #9c20ff,
    A700 : #9107ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);